*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
font-weight: bold;
}

html,body{
    width:100%;
    height:100%;
}

body{
    background-color: #97C7C4;
    padding: 5px;

}
.Fundo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.Fundo .borda{
    background-color: #485E5D;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 10px double black;
    border-radius: 30px;
}

.borda h1{
    color: #D982DB;
}
.borda .cameras{
    background-color:#dcdcdc;
    margin-top: 20px;
    border-width: 10px;
    border-style: double;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 860px;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.3);
}
.cameras .video-wrap{
    display: flex;
    flex-direction: column;
}
.video-wrap video{
    border-width: 10px;
    border-style: double;
    border-radius: 30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 300px;
    width:300px;
}
.video-wrap h4{
    margin-top: 10px;
}
.video-wrap .botaoCapture{
    width: 100px;
    margin-top: 20px;
    background-color: #A9DEDA;
    border:  4px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #343837;
}
.video-wrap .botaoCapture:hover{
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.3);
}

.controller{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.controller video{
    transition: all 0.6s;
    height: 300px;
    width:300px;
    border-radius: 30px;
}
.nome {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.nome .botaoLogin{
    width: 100px;
    margin-top: 12px;
    background-color: #A9DEDA;
    border:  4px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.nome .botaoLogin:hover{
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.3);
}

.fundopag3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fundopag3 .fpagina3 {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 500px;
    border:  4px solid black;
    border-radius: 10px;
    background-color: white;
}
.fpagina3 .nomeus{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 50px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:  4px solid black;
    border-radius: 10px;
    background-color: #485E5D;
    color: white;
}
.nomeus .logout{
    width: 80;
    height: 30px;
    margin-top: 5px;
    background-color: #A9DEDA;
    color: black;
    text-decoration: none;
    border:  4px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.nomeus .logout:hover{
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.3);
}
.fundopag3 .informacoes{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border:  4px solid black;
    border-radius: 10px;
    background-color: #dcdcdc;
}
.informacoes .infonomes{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:  4px solid black;
    border-radius: 10px;
    background-color: #485E5D;
}
.infonomes h4{
    width: 215px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #D982DB;
}
.informacoes .infonomes h4:not(:last-child){
    padding-right: 20px;
    border-right: 4px solid black;
}

.nome input{
    border-radius: 5px;
    margin-top: 10px;
   
    width: 300px;
    height: 30px;

    padding-left: 18px;     
}

/* Animações */
.flash{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  
@keyframes flash{
    50%{
        background: #A9DEDA;
        color:#fff;
    }
    100%{
        background: #f30909;
        color:#fff;
    }
    
    0%{
        background: #f3090977 ;
        color:#fff;
    }
        
}


/* @media (max-width:924px){
    body{
        height:100%;
        background-color:red;
        padding:0 10px;
    }
    .Fundo{
        width:100%;
        height:auto;
    }

    .borda{
        width: 100%;
    }

    .cameras{
        height:100%;
        width: 100%;
        flex-direction:column;
        align-items: center;
    }

    .cameras .controller{
        margin-top:40px;
        overflow-y:scroll;
    }
} */